@font-face {
  font-family: Iconsolata;
  src: url('/font/Inconsolata.otf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-Regular.ttf');
}
html,
body {
  height: 100%;
  padding: 0;
}
body {
  font-family: 'Open Sans';
  background-image: url('/img/shattered.png');
}
.navbar {
  margin: 0;
}
.navbar .navbar-inner {
  padding: 20px;
  background-color: #a60000;
  background-image: none;
  border: 0;
}
.navbar .brand {
  padding: 0px;
}
.navbar .brand img {
  width: 100px;
}
.navbar .brand,
.navbar .nav > li > a {
  color: #ffffff;
  font-weight: 300;
}
.navbar .brand:hover,
.navbar .nav > li > a:hover {
  color: #ffffff;
}
#Wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -80px;
}
#Header {
  text-align: center;
  color: #ffffff;
  background-color: #bf3030;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#Header .title {
  font-family: Inconsolata, 'Open Sans';
}
#Header .subtitle {
  font-family: 'Open Sans';
  font-weight: 300;
}
#Content .container {
  margin: 80px;
}
#Callouts .callout {
  text-align: center;
}
#AboutUs p {
  text-align: justify;
  max-width: 675px;
}
#AboutUs .lead {
  text-align: left;
}
#Execs .col-md-2,
#SpecialThanks .col-md-2 {
  text-align: center;
}
#Execs .col-md-2 label,
#SpecialThanks .col-md-2 label {
  color: #333333;
  font-weight: bold;
}
#Execs .col-md-2 label:hover,
#SpecialThanks .col-md-2 label:hover {
  text-decoration: none;
}
#Events ul {
  list-style-type: none;
}
#Events .event {
  max-width: 675px;
  padding: 10px;
  border: 1px solid #333333;
  background: whitesmoke;
  margin-bottom: 10px;
}
#Post {
  max-width: 675px;
}
#Footer {
  height: 80px;
  background-color: #333333;
}
#Footer .container .row {
  margin-top: 20px;
}
#FooterFix {
  height: 80px;
}
#FooterSocial {
  text-align: center;
}
#FooterSocial a,
#FooterSocial a:hover {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}
