<div id="Footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="FooterSocial" class="span12">
        <div class="social-icons">
          <a href="https://www.facebook.com/guelphcodingcommunity"><i class="icon-facebook-sign icon-3x"></i></a>
          <a href="mailto:guelphcodingcommunity@gmail.com"><i class="icon-envelope icon-3x"></i></a>
          <a href="https://github.com/guelphcodingcommunity"><i class="icon-github-sign icon-3x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
