<div id="Footer">
  <div class="container">
    <div class="row">
      <div id="FooterSocial" class="col-md-12">
        <div class="social-fas">
          <a href="https://www.facebook.com/guelphcodingcommunity"><i class="fa fa-facebook-square fa-3x"></i></a>
          <a href="mailto:guelphcodingcommunity@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
          <a href="https://github.com/guelphcodingcommunity"><i class="fa fa-github-square fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
